<%- contentFor('hero') %>
<section class="hero">
  <div class="hero-content">
    <h2>All About us</h2>
    

    
    <a href="/contact" class="btn btn-lg btn-primary">Drop us a link</a>
  </div>
</section>

		<%- contentFor('body') %>
		<div class="jumbotron text-center">
			Home page
		</div>

		